#titulo {
    color: rgb(9, 122, 18);
    font-size: 45px;
    font-style: oblique;

}
body {
    background-color: rgba(121, 122, 122, 0.298);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.informacio h1{
    color: rgb(9, 122, 18);
    font-size: 25px;
    font-style: oblique;
}
.informacio p{
    color: rgb(9, 122, 18);
    font-size: 18px;
    
}
.foto1 {
    width: 220px;
    height: auto;
}
.menusuperior {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    gap: 10px;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo-img {
    height: 35px;
    background-color: white;
}

.textos {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.institucio {
    color: white;
    font-size: 15px;
}

.departament {
    color: white;
    font-weight: bold;
    font-size: 15px;
}


.desplegable {
    position: relative;
    display: inline-block;
}

.botodesplegable {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.desplegableocult {
    display: none;
    position: absolute;
    right: 0;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.desplegableocult a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.desplegableocult a:hover {
    background-color: #444;
}

.desplegable:hover .desplegableocult {
    display: block;
}

.menu-cercador {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cercador {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cercador input {
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}