#titulo {
    color: rgb(9, 122, 18);
    font-size: 45px;
    font-style: oblique;

}
body {
    background-color: rgba(121, 122, 122, 0.298);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.informacio h1{
    color: rgb(9, 122, 18);
    font-size: 25px;
    font-style: oblique;
}
.informacio p{
    color: rgb(9, 122, 18);
    font-size: 18px;
    
}
.foto1 {
    width: 220px;
    height: auto;
}
#menusuperior {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#menusuperior a,
#menusuperior label {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

#menusuperior a:hover,
#menusuperior label:hover {
    text-decoration: underline;
}


#toggleCercador {
    display: none;
}
#cercadorBox {
    display: none;
    margin-top: 10px;
    text-align: center;
}

#toggleCercador:checked ~ #cercadorBox {
    display: block;
}

#cercadorBox input {
    padding: 5px;
    width: 200px;
}